@import '../components/style.css';

.blogpost {
  margin-top: 20px;
}

.blogpost_title {
  margin-top: 0px;
  color: #233dff;
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 25px;
}

ul.backforth {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px 0px;
}

@media screen and (max-width: 30em) {
  ul.backforth {
    margin: 0px;
    padding: 20px;
    justify-content: space-between;
  }
}
