@import '../components/style.css';

.blogpost,
.blurb {
  padding-bottom: 35px;
}

.blogpost_title_anchor {
  color: #233dff;
  text-transform: none;
  font-size: 1.2em;
  line-height: 20px;
  margin-bottom: 20px;
}

.blogpost_content {
  margin-top: 0px;
}
