@import './style.css';

.bio {
  font-size: 18px;
  padding: 0;
  margin: 0px;
  max-width: 500px;
  line-height: 1.5em;
}

@media screen and (max-width: 64em) {
  .bio {
    max-width: 600px;
    padding: 0px 0 10px 0;
  }
}
