@import './style.css';

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 2.0875em;
  display: flex;
  flex-flow: column;
  min-height: 95vh;
}

.ufp {
  font-size: 40px;
  color: #ff007e;
  font-weight: 700;
  text-decoration: underline wavy #ffe900;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.main {
  flex-grow: 1;
}

.menu-anchor {
  color: #ff007e;
}

ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu > li a {
  color: #ff007e;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
}

footer > p {
  font-size: 12px;
  font-weight: 700px;
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

@media screen and (max-width: 64em) {
  .header {
    flex-direction: column;
    padding-bottom: 50px;
  }

  ul.menu {
    padding-left: 0px;
  }

  footer {
    padding-top: 10px;
    flex-direction: column;
  }
}
