@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif:400,700|Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,500,600,700,800|Barlow:100,300,400,500,600,700,900');

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #333;
}
