@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif:400,700|Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,500,600,700,800|Barlow:100,300,400,500,600,700,900');

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff007e;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 2rem;
  font-size: 20px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #233dff;
}

strong {
  font-weight: 600;
}

ul {
  list-style: square
    url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

blockquote {
  color: #65d1e9;
  background-color: #f5f5f5;
  padding: 1em;
  margin: 1em;
  line-height: 1.5em;
  font-size: 1.7em;
  quotes: '“' '”' '‘' '’';
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.2em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  border: 0;
  border-bottom: 3px dashed #ffe900;
}

@media screen and (max-width: 30em) {
}
